<div class="container">
  <div class="row-fluid">
    <div class="span-2"></span>
    <div class="span-8 hero-unit" style="margin-top: 3em;">
      <h1>Hej.</h1>
      <p class="pull-left" style="margin-right: 1em;">
        Have a look at the places <%= format_travellers(@travellers).html_safe %> have been to.
      </p>
    </div>
    <div class="span-2"></span>
  </div>
</div>
